.main{
    width: 100%;
    padding: 10px 35px 0;
    border-radius: 10px;
    
}

.heading{
    /* color: white; */
    text-align: center;
    font-size:30px;
    font-family: sans-serif;
    font-weight:900;
    /* text-decoration:underline; */
    /* background-color:burlywood; */
}

.nee_element{
    font-size: 18px;
    font-weight: 600;
    opacity: 0.8;
}

.repo{
    background-color: crimson;
    padding: 0 4px;
}

.product{
    background-color: crimson;
}

.span_ele{
    color: #DAF971;
    cursor: pointer; 
}

.span_ele:hover{
    /* opacity: 0.6; */
    color: firebrick;
    transition: all ease 300ms;
}

/* categorty section start here  */

.category{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 60px 0 0;
    cursor: pointer;
    font-family:Arial, Helvetica, sans-serif;
}


.date_title{
    padding: 10px 0 0 17px;
    font-size: 18px;
    border-radius: 6px;
    color: white;
    font-weight: 700;
    /* text-decoration: underline; */
    /* transition: all 1s ease; */
}

.data_section{
    font-weight: 400;
    font-size: 11px;
    opacity: 0.7;
}

.labels{
    /* padding-top: 40vw; */
    font-weight: 600;
    font-size: 16px;
}

.options{
    padding: 5px 20px;
    margin-top: 5px;
    margin-right: 15px;
    margin-left: 10px;
    
    font-size: 15px;
    outline: 1px solid white;
    border-radius: 6px;
    opacity: 0.6;
}

.starred:hover{
    background-color: dimgray;
    color: white;
}

/* button section / */

.searchtype{
    /* border: 1px solid white; */
    display: flex;justify-content: center;
    gap: 3vw;
    /* margin: 15px 20px 15px 0; */
    padding: 20px ;
    font-size: 15px;
    font-family: sans-serif;
}

.github_btn{
    background-color:whitesmoke;
    color: black;
    border-radius: 5px;
    padding: 1px 10px;
    font-weight:500 ;
}

/* .github_btn:hover{
    background-color:#1E1E1E;
    color: aliceblue;
    outline: 1px solid white;
} */

.github_btn:focus{
    background-color:#1E1E1E;
    color: aliceblue;
    transition: all ease 400ms;
    outline: 1px solid white;
}



.producthunt_btn{
    background-color:whitesmoke;
    color: black;
    border-radius: 5px;
    padding: 1px 10px;
    font-weight:500 ;
}

.producthunt_btn:focus{
    background-color:#1E1E1E;
    color: aliceblue;
    transition: all ease 400ms;
    outline: 1px solid white;
}

/* main item list start here 
 */

 .github_profiles_from_api{
    margin-top: 16px;
    padding: 20px 9px;

 }

 .profile_component{
    display: flex;
    background-color: #1E1E1E;
    color: white;
    margin: 5px;
    padding: 24px;
    gap: 8vw;
    border-radius: 5px;
 }

 .github_username{
    background-color: #1E1E1E;
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
 }

.built_by{
    font-size: 13px;
    /* opacity: 0.6; */
    background-color: #1E1E1E;
    color: rgba(255, 255, 255, 0.66);
    padding-top: 10px;
    cursor: pointer;
    /* margin-top: 10px; */
}

.github_project_description{
    font-size: 15px;
    background-color: #1E1E1E;
    color: white;
    padding-top:25px;
    width: 45vw;
}

.language_used{
    padding-top:15px ;
    font-size: 15px;
    background-color: #1E1E1E;
    color: rgba(255, 255, 255, 0.683);
    /* opacity: 0.7; */
    /* margin-top: 20px; */
}

.secondpart{
    background-color: #1E1E1E;
}

.star_count{
    padding-top:15px ;
    font-size: 11px;
    background-color: #1E1E1E;
    color: rgba(255, 255, 255, 0.683);
}

.fork_count{
    /* padding-top:15px ; */
    font-size: 11px;
    background-color: #1E1E1E;
    color: rgba(255, 255, 255, 0.683);
}


.secondPartImg{
    border-radius: 50px;
}

/* product hunt css styling  */

.producthunt-second-image:hover{
    content-visibility: "comment";
    background-color: red;
}